/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
    color: #e63946;
}

.navbar .nav-actions a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: background-color 0.3s ease;
}

.navbar .subscribe-btn {
    background-color: #e63946;
}

.navbar .subscribe-btn:hover, .navbar .login-btn:hover {
    background-color: #fff;
    color: #333;
}

/* Contenu principal */
.main-content {
    padding: 2rem;
    background-color: #fff;
}

.featured-article {
    background-color: #000000;
    color: #fff;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.featured-article h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2em;
    opacity: 0; /* Masque le titre au départ */
    transform: translateY(50px); /* Déplace le titre vers le bas */
}

.articles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.article-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1.5rem;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.article-card:hover {
    transform: translateY(-5px);
}

.article-card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.article-card p {
    margin-bottom: 1rem;
}

.article-card a {
    text-decoration: none;
    color: #e63946;
    font-weight: bold;
}

/* Pied de page */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

#compteur {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#circle {
    width: 35px;
    height: 35px;
    background-color: #3498db;
    border-radius: 50%;
    position: fixed;
    opacity: 50%;
    pointer-events: none; /* Ignore les événements de la souris sur le cercle */
    transform: translate(-50%, -50%);
}